<!DOCTYPE html>
<html>
<head>
  <title>ActivityBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render template:'shared/header'%>
<%= render template:'shared/flash_message'%>
<%= yield %>

</body>
</html>
